@import "file:///C:/Users/Administrator/mnt/Workspace/vuepress4dy/node_modules/@vuepress/plugin-sass-palette/styles/default/config.scss";
@import "file:///C:/Users/Administrator/mnt/Workspace/vuepress4dy/node_modules/@vuepress/plugin-sass-palette/styles/empty.scss";
